.examineStyle{
    margin: 20px 0;
    display: flex;
    /* justify-content:  center; */
    align-items: center;
    font-size: 16px;
}
.detailHistory div{
    height: 40px;
}

.detailHistory .ant-form-item-control{
    width: 300px;
}